@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&display=swap');
/*paleta de cores*/
:root {
    --background-verde: #70d18c;    
    --background-verde-claro: #70d18c;
    --background-branco: #FEFCFE;
    --background-branco-75: hsla(300, 50%, 99%, 0.650);
    --border-branco: #DBD8E0;
    --texto-branco: rgba(255, 255, 255, 0.95);
    --branco: #F0F0F3;
    --cinza: #DBD8E0;
    --texto: #211F26;
}
/*reset css*/
* { 
    padding: 0; margin: 0;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    background-color: #70d18c;
    font-family: 'Lexend','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none !important;
}

#login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5; 
}

#login-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-roxo);
    width: 50vw;
    padding: 20px;
}

.login-card-style h1, .login-card-style p {
    text-align: center;
    color: var(--texto-branco);
}

.login-card-style form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-card-style form input, .login-card-style form button {
    padding: 12px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.login-card-style form input {
    background-color: var(--background-branco);
    border: 1px solid var(--border-branco);
}

.login-card-style form button {
    margin-top: 20px;
    border: var(--border-branco) 2px solid;
    background-color: transparent;
    font-weight: bold;
    color: var(--texto-branco);
}

.login-card-style form button:hover {
    cursor: pointer;
    background-color: var(--background-branco-75);
    color: var(--texto);
    transform: scale(0.995);
}

#login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#login-img img {
    max-width: 100%;
    height: auto;
}

/*PÁGINA: LOGIN*/
#table-page-container {
    margin: 30px 20px 0px;
    background-color: var(--background-verde-claro);
    display: flex;
    flex-direction: column;
    min-height: 90vh; 
    justify-content: center;
}

#table-container {
    padding: 20px;
    background-color: var(--background-branco);
    border-radius: 24px;
    filter: drop-shadow(0px 5px 5px #00000017);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#table-header h1 {
    text-align: center;
    margin-bottom: 20px;
}

#table-header button {
    padding: 12px;
    border-radius: 12px;
    border: var(--border-branco) 2px solid;
    background-color: transparent;
    font-weight: bold;
    color: var(--texto);
}

#table-header button:hover {
    cursor: pointer;
    background-color: var(--branco);
    transition: all 0.3s ease;
}

#table-overflow { 
    height: 400px; 
    overflow-y: scroll; 
}

table { 
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead { position: sticky; }

th { 
    padding: 10px 10px;
    font-size: 0.7em; 
    color: var(--roxo-escuro);
    background-color: var(--background-verde-claro);
}

tr {
    height: 5px;
    border-bottom: 1px solid var(--border-branco);
}

tr:hover {
    background-color: var(--verde-claro);
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0px;
    text-align: center;
    font-size: 0.7em;
}

.th-id {
    width: 20px;
}

.data-button {
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--branco);
    border: 1px solid var(--border-branco);
}

.data-button:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: all 0.3s ease-in-out;
}