<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Cadastro</title>
</head>
<body id="login-container">
    <div id="login-img">
        <img src="./img/peglev-icon.png" alt="PegLev">
    </div>
    <div id="login-card-container">
        <div class="login-card-style">
            <h1>CADASTRAR COLETA</h1>
            <p></p>
            <div class="image-container" id="imageContainer">
                <span class="placeholder-text" id="imagePlaceholder">Foto</span>
              </div>
              <input type="file" class="file-input" id="imageInput" accept="image/*" onchange="handleImageUpload()">
                <form th:action="@{/cadastrarcoleta}" method=post th:object="${movimentacao}">
                    <select class="select" id="categoria">
                        <option value="">Categoria de resíduo</option>
                        <option value="SECO">Seco</option>
                        <option value="UMIDO">Úmido</option>
                        <option value="ELETROELETRONICO">Eletrônico</option>
                    </select>
                    <select class="select" id="cooperativa">
                        <option value="">cooperativa1</option>
                        <option value="SECO">cooperativa1</option>
                        <option value="UMIDO">cooperativa1</option>
                        <option value="ELETROELETRONICO">cooperativa1</option>
                    </select>
                    <input type="text" class="input" id="subtipo" placeholder="Subtipo: Papelão, Plástico">
                    <input type="datetime-local" class="input" id="dataHora">
                    <input type="text" class="input" id="local" placeholder="Local da Coleta: Endereço">
                    <button type="submit">Cadastrar</button>
                </form>
        </div>
        <p class="credits">Projeto desenvolvido por <a href="https://github.com/audrincp" target="_blank" rel="noopener noreferrer">@audrincp (Github)</a> aplicativo <a href="https://www.peglev.app" target="_blank" rel="noopener noreferrer">PegLevApp</a></p>
    </div>

    
    <h1>Listagem de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movimentacao : ${entrada}">
                    <td th:text="${coleta.id}"></td>
                    <td th:text="${coleta.tipo}"></td>
                    <td th:text="${cliente.cpf}"></td>
                    <td><a th:href="@{'/bonificar/' + ${coleta.id}}">Selecionar</a></td>
                    <td>
                        <form th:action="@{'/token/' + ${coleta.id}}" method="post">
                            <input type="submit" value="bonificar">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}">Voltar</a>
</body>
</html>