<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Cadastrar Coleta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Sistema de Cadastro de Coleta</h1>

    <!-- O Object é para variaveis, onde joga em uma classe de java

    SOMENTE THYMELEAFT:
        - @link
        - $variaveis (objetos) 
        - *Acesso de leitura em um atributo
    -->
    <form th:action="@{/movimentacao}" method="post" th:object="${cliente}"> 

        Nome: <input type="text" th:field="*{nome}"><br>
        cpf: <input type="text" th:field="*{cpf}"><br>
        
        <input type="submit" value="Cadastrar" name="cadastrar">
    
    </form>
    
    <a th:href="@{/}">Voltar para index</a>

</body>
</html>