<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            LOGIN
        </title>
    </head>
    <body id="login-container">
            <div id="login-img">
                <img th:src="@{/img/peglev-icon.png}" alt="PegLev">
            </div>
            <div id="login-card-container">
                <div class="login-card-style">
                    <form>
                        <input type="text" placeholder="E-mail">
                         <input type="password" placeholder="Senha">
                        <a th:href="@{/principal}"><button type="button">Login</button></a>
                    </form>
                    <h1></h1>
                    <p></p>
                    <ul>
                        <li><h3><a th:href="@{/cadastroclientepf}">CRIAR PESSOA FÍSICA</a></li></h3>
                        <li><h3><a th:href="@{/cadastroclientepj}">CRIAR PESSOA JURÍDICA</a></li></h3>
                    </ul>
                </div>
                <p class="credits">Desenvolvido por <a href="https://github.com/audrincp" target="_blank" rel="noopener noreferrer">@audrincp (Github)</a> aplicativo <a href="https://www.peglev.app" target="_blank" rel="noopener noreferrer">PegLevApp</a></p>
            </div>
    </body>
</html>