<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            LOGIN
        </title>
    </head>
    <body id="login-container">
        <h1>
            login
        </h1>
        <ul>
            <li><a th:href="@{/cadastrocliente}">ENTRAR</a></li>
        </ul>
            <div id="login-img">
                <img th:src="@{/img/peglev-icon.png}" alt="PegLev">
            </div>
            <div id="login-card-container">
                <div class="login-card-style">
                    <h1></h1>
                    <p></p>
                    <form>
                        <input type="text" placeholder="E-mail">
                         <input type="text" placeholder="Senha">
                        <a th:href="@{/principal}"><button type="button">Login</button></a>
                    </form>
                </div>
                <p class="credits">Projeto desenvolvido por <a href="https://github.com/audrincp" target="_blank" rel="noopener noreferrer">@audrincp (Github)</a> aplicativo <a href="https://www.peglev.app" target="_blank" rel="noopener noreferrer">PegLevApp</a></p>
            </div>
        
            
            <script src="./login.js" defer></script>
            <script src="./crud.js"></script>
        
    </body>
</html>