<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            LOGIN
        </title>
    </head>
    <body id="login-container">
        <div class="info-section">
            <h1>Meu Perfil</h1>

            <div class="profile-image-container">
              <img src="https://avatars.githubusercontent.com/u/1713290?v=4" alt="Perfil" class="profile-image" />
            </div>
            <h3>Dados pessoais:</h3>
            <p>AUDRIN PEREIRA, 53 anos, DEVELOPER</p>
      
            <h3>Formação:</h3>
            <p>SISTEMAS PARA INTERNET - FATEC</p>
            <p>ARTE PUBLICITARIA - ESCOLA PANAMERICANA DE ARTES</p>
      
            <h3>Experiência:</h3>
            <p>ABDL</p>
            <p>SENAC</p>
            <p>RÁDIO 95 FM</p>
      
            <h3>Projetos:</h3>
            <p>PEGLEV</p>
            <p>EDUCADORES DO MEIO AMBIENTE</p>
          </div>
                <p class="credits">Projeto desenvolvido por <a href="https://github.com/audrincp" target="_blank" rel="noopener noreferrer">@audrincp (Github)</a> aplicativo <a href="https://www.peglev.app" target="_blank" rel="noopener noreferrer">PegLevApp</a></p>
            </div>
        
            
            <script src="./login.js" defer></script>
            <script src="./crud.js"></script>
        
    </body>
</html>