<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            LOGIN
        </title>
    </head>
    <body id="login-container">
        <div class="info-section">
            <h1>Perfil Pessoa Jurídica/h1>
            <div class="profile-image-container">
            <img th:src="@{/img/oleonoel.png}" alt="PegLev">
            </div>
            <h3>Dados pessoa jurídica:</h3>
            <p>Óleo Noel </p>
      
            <h3>Fundação:</h3>
            <p>1980</p>
            <p>Cooperativa de Coleta de Óleo</p>
      
            <h3>Locais de atuação:</h3>
            <p>Santos</p>
            <p>Bairro Jardim São Manoel</p>
      
            <h3>Projetos:</h3>
            <p>PEGLEV</p>
            <p>EDUCADORES DO MEIO AMBIENTE</p>
          </div>
                <p class="credits">Projeto desenvolvido por <a href="https://github.com/audrincp" target="_blank" rel="noopener noreferrer">@audrincp (Github)</a> aplicativo <a href="https://www.peglev.app" target="_blank" rel="noopener noreferrer">PegLevApp</a></p>
            </div>
    </body>
</html>