<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div class="container">
    <h1>Meu Perfil</h1>

    <div class="profile-image-container">
      <img src="https://avatars.githubusercontent.com/u/1713290?v=4" alt="Perfil" class="profile-image" />
    </div>

    <div class="info-section">
      <h3>Dados pessoais:</h3>
      <p>AUDRIN PEREIRA, 53 anos, DEVELOPER</p>

      <h3>Formação:</h3>
      <p>SISTEMAS PARA INTERNET - FATEC</p>
      <p>ARTE PUBLICITARIA - ESCOLA PANAMERICANA DE ARTES</p>

      <h3>Experiência:</h3>
      <p>ABDL</p>
      <p>SENAC</p>
      <p>RÁDIO 95 FM</p>

      <h3>Projetos:</h3>
      <p>PEGLEV</p>
      <p>EDUCADORES DO MEIO AMBIENTE</p>
    </div>
  </div>

</body>
</html>
