<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            <h1>SISTEMA CADASTRO DE CLIENTES</h1>
        </title>
    </head>
    <body id="login-container">
        <h1>Crie a sua Conta</h1>
        <ul>
            <li><a th:href="@{/cadastrocliente}">Cadastrar Clientes</a></li>
        </ul>
    </body>
</html>