<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>
        Resultados da Busca
    </title>
</head>

<body>
    <h1 id="login-card-container">Resultados da Busca</h1>
    <table>
        <thead>
            <tr>
                <h3>
                    <th>Nome</th>
                </h3>
                <h3>
                    <th>Ramo de Atividade</th>
                </h3>
                <h3>
                    <th>Depositar</th>
                </h3>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cooperativa : ${resultados}">
                <td th:text="${cooperativa.nome}"></td>
                <td th:text="${cooperativa.ramoAtividade}"></td>
                <td>
                    <form th:action="@{/cadastrarcoleta}" method="get">
                        <input type="hidden" th:name="cooperativaId" th:value="${cooperativa.id}" />
                        <button type="submit">Depositar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>