<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <title>
            SISTEMA CADASTRO DE CLIENTES
        </title>
    </head>
    <body id="login-container">
        <div id="login-img">
            <img th:src="@{/img/peglev-icon.png}" alt="PegLev">
        </div>
        <h1>
            <a th:href="@{/cadastrocolabora}">Sucesso! Seja bem-vindo! <span th:text="${cliente.nome}"></span></a>
        </h1>
    </body>
</html>